body{
    background-color:white;
    text-align:center;
}
hr{
    border-style:none;
    border-top-style: dotted;
    border-color:rgb(253, 239, 204);
    border-width:5px;
    width:15%;

}
.first{
    color: brown;
    font-size: 62px;
}
.second{
    color: darkgoldenrod;
    font-size: 42px;
}

#heading{
    color: rgb(0, 97, 158);
    font-size: larger;
}
img:hover{
transform: scale(1.2);
}
h1.first:hover{
    transform: scale(1.2);
    }